
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 20px;
    vertical-align: baseline;
    background: transparent;
}

:root{
    --darkblue: rgb(37,133,148);
    --darkbluea: rgba(37,133,148,0.95);
    --blue: rgb(79,204,224);
    --bluea: rgba(79,204,224, 0.9   );
    --lightblue: rgb(115,236,255);
    --darkred: rgb(185,4,30);
    --red: rgb(224,91,91);
}

h1{
    font-family: 'Lato', Helvetica;
}
p{
    font-family: 'Bitter', Helvetica;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: rgb(61, 61, 61);
    font-size: 4rem;
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;

    position: sticky;
    overflow: hidden;
    top: 0;
}

nav ul{
    list-style: none;
    margin-left: auto;
}
nav a{
    font-family: 'Lato', Helvetica;
    color:rgb(172, 172, 172);
    text-decoration: none;
    
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
}

nav img{
    height: 9vh;
    margin:0.5rem;
    border-radius: 50px;
}

.button{
    border: 0px;
    border-style: none;
    background-color: rgba(62, 124, 187);
    margin: 1rem;
    color: rgb(205, 205, 205);
}

.body{
    font-size: 5rem;
}
.greet{
    text-align: center;
    color: rgb(200, 200, 200);
    background-color: rgba(0, 0, 0, 0.6);
    height: 50vh;
    padding-top: 40vh;
    font-size: 5rem;
}
.bg{
    background-image: url(Praxis.jpg);
    background-repeat: none;
    background-size: cover;
}
.greet p{
    font-size: 2rem;
}
.greet button{
    margin-top: 10vh;
    padding:2rem;
    border-radius: 10px;
}
.welcome{
    padding: 15vh 2vh 4vh 2vh;
    height: 75vh;
    background-color: var(--darkbluea) 
}
.welcome img{
    margin-top: 30px;
    height: 350px;
}
.welcomebg{
    background-image: url(img/image11.jpeg);
    background-size: cover;
}
.gallery{
    height: 50vh;
    padding: 15vh 2vh 4vh 2vh;
    background-color: gainsboro;
}
.contact{
    height:60vh;
    padding: 15vh 2vh 4vh 2vh;
    /*background-color: var(--darkblue);*/
    background-color: var(--darkbluea)
    padding-left: 50px;
    color: gainsboro;
}
.contactbg{
    background-image: url(img/image1.jpeg);
    background-size: cover;
}
.map{
    background-color: gainsboro;
    padding: 1vh 2vh 4vh 2vh;
}
#smallmap{
    text-align: left;
}
#bigmap{
    display: none;
    text-align: center;
}
.map h1{
    padding-top: 15vh;
    padding-bottom: 20px;
    text-align: left;
}
.map img{
    width: 98vw;
}

footer{
    height: 30vh;
    background-color: var(--darkblue);
    color: gainsboro;
}

@media only screen and (min-width: 600px){
    #smallmap{
        display: none;
    }
    #bigmap{
        display: block;
    }
    
}